@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
  background: linear-gradient(white, white, #fff7ed);
}
.logo {
  height: 90px;
}

.title {
  font-family: jura, sans-serif;
}
.logout_btn:hover {
  background-color: white;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  .logo {
    width: 120px;
    height: auto;
  }
}
@media screen and (max-width: 480px) {
  .header-content {
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }
  .logo {
    width: 80px;
    height: auto;
  }
  .title {
    display: none;
  }
  .logout_btn {
    font-size: 10px;
  }
}
