.date{
background-color:#BCE8D9;
width: 50%;
border:none;
outline:none;}
.tag{
background-color:#FFCFD7;
width: 50%;
border:none;
outline:none;}
.modal_wrap{
background-color: #FFF7ED;
height:200px;
width:400px;
box-shadow: 2px 4px 2px rgba(0,0,0,0.25);
border-radius: 10px;}
.set_info{display: flex;}
.memo_area{margin: auto;}

